version: '3'
services:
#  manager-nginx:
#    build:
#      context: ./docker
#      dockerfile: nginx.docker
#    volumes:
#      - ./:/app
#      - ./docker/nginx/ssl:/etc/nginx/ssl
#    depends_on:
#      - manager-php-fpm
#    ports:
#      - "8080:443"

#  manager-php-fpm:
#    build:
#      context: ./docker
#      dockerfile: php-fpm.docker
#    environment:
#      APP_DEBUG: 1
#    volumes:
#      - ./:/app

#  manager-php-cli:
#    build:
#      context: ./docker
#      dockerfile: php-cli.docker
#    volumes:
#      - ./:/app
#      - composer:/root/.composer/cache

  manager-postgres:
    image: postgres:11.2-alpine
    volumes:
      - manager-postgres:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: eugeneboard
    ports:
      - "54321:5432"

  manager-postgres-test:
    image: postgres:11.2-alpine
    volumes:
      - manager-postgres-test:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: eugeneboard_test
    ports:
      - "54322:5432"

  mailer:
    image: mailhog/mailhog
    ports:
      - "8081:8025"

volumes:
#  composer:
  manager-postgres:
  manager-postgres-test: