{% extends 'base_layout.html.twig' %}

{% block title %}Welcome again{% endblock %}

{% block body %}

    <h1>List of boards</h1>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>Board</th>
                <th>Name</th>
                <th>Post per hour</th>
            </tr>
        </thead>
        {% for board in boards %}
            <tr>
                <td><a href="{{ board.path|e }}">{{ board.path|e }}</a></td>
                <td>{{ board.name|e }}</td>
                <td>{{ board.postperhour }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
