<ul class="nav flex-column">
    {% for board in boards %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('board_treads', { 'path' : board.path|e}) }}"> /{{ board.path|e }} - {{ board.name|e }}</a>
        </li>
    {% endfor %}
</ul>
